@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<FoodGraphr.Model.Food>
<div id="searchbox">
    <form method="post" action="/">
        <input type="text" name="name"/>
        <button>Search</button>
    </form>
</div>
<div id="content">
    <h1>@Model.Name (100 g)</h1>
    <img src="@Model.ChartUrl"/>
    <h2>Kalorier: @Model.NutrientValues["energyKcal"] kcal</h2>
    <p>@(Math.Round(@Model.NutrientValues["energyKcal"] / 2675 * 100, 2))% rekommenderat dagligt kaloriintag för män</p>
    <p>@(Math.Round(@Model.NutrientValues["energyKcal"] / 2150 * 100, 2))% rekommenderat dagligt kaloriintag för kvinnor</p>
</div>